/* app styles  */
body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
h1 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    color: #1A237E;
    margin-bottom: 45px;
}
h3 {
}
.header-icon {
    width: 45px;
    margin-right: 25px;
    float: left;
    overflow: hidden;
}
ul {
    margin-left: 90px;
}
ul ul {
    margin-left: 20px;
}
.container-image {
    background-color: #1976D2;
    background-image: url(http://wallpapercave.com/wp/r1daZxf.jpg);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.img-circle {
    border-radius: 50%;
}
.img-profile {
    max-height: 200px;
    position: absolute;
    top: -100px;
    left: calc(50% - 119.5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.content-image {
    margin-top: 200px;
}
.content-header {
    margin-top: 100px;
}
.social a {
    display: inline-block;
    margin-right: 20px;
    margin: 0 20px 20px 0;
}
a:focus {
    color: #555;
    text-decoration: none;
}
a:hover {
    color: #FF4081;
    text-decoration: none;
}
a:visited {
    color: #C2185B;
    text-decoration: none;
}
.social a:last-of-type {
    margin-right: 0;
}
.social a img {
    margin-right: 10px;
    height: 20px;
    vertical-align: bottom;
}
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    background-color: white;
    padding: 10px 30px;
    margin: 20px;
}
.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* overrides */
/* hidden filters */
.wagwep-container{
    display: none !important;
}

/* detail view overrides */
.og-details {
    width: 40%;
}
.og-details ul {
    list-style-type: initial;
    margin-left: 20px;
    font-size: 14px;
}
.og-details li {
    display: list-item;
}
.og-fullimg {
    width: 60%;
    overflow: scroll;
}
.og-fullimg img {
    max-height: initial;
}
.og-grid li>a img {
    height: 150px;
    width: 150px;
}
.related_photo {
    height: 150px;
}
.link-button{
    background-color: #1A237E !important;
    background: #1A237E !important;
    border: none !important;
    font-size: 16px !important;
}
.link-button:hover{
    text-decoration: none !important;
}
